-install python 3.5.2
-put serviceAccountCredentials.json in same folder as python server
-run (maybe with sudo):
  pip install --upgrade pip
  pip install pyrebase
  pip install pandas
  pip install --upgrade tensorflow
  pip install scikit-learn
  pip install seaborn

-numpy
  Install from whele here: http://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy
    numpy‑1.13.1+mkl‑cp35‑cp35m‑win_amd64.whl

-scipy
  https://www.scipy.org/install.html

  Windows
    get whl file for scipy from http://www.lfd.uci.edu/~gohlke/pythonlibs/
      scipy‑0.19.1‑cp35‑cp35m‑win_amd64.whl


pip install keras


-jupyter map widget
  pip install ipyleaflet
  jupyter nbextension enable --py --sys-prefix widgetsnbextension
  jupyter nbextension enable --py --sys-prefix ipyleaflet

 run jupyter with
  jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000
